@import 'globals';

//*****************
// App Styles
//*****************

.app {
  height: 100%;
}

@media (min-width: 992px) {
  .app {
    padding: 0 0 0 300px;
  }
}

.navbar {
  box-shadow: 0 1px 1px 0;
  margin-bottom: 0;
  padding-top: 10px;
}

.app-nav-button {
  display: inline-block;
  float: none;
  margin-left: 0;
}

.app-nav-list-title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
}

.notifications {
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.navmenu-fixed-left {
  border-width: 0;
}
