//*****************
// Variables
//*****************

$white: #fff;
$gray: #777;
$red: #e74c3c;
$mobile-portrait: 768px;

//*****************
// Global Overrides
//*****************

html,
body {
  height: 100%;
}

body {
  font-size: 62.5%;
}

.container .login-link-text {
  font-size: 3em;
}

.home {
  img {
    display: block;
    width: 100%;
  }
}

//*****************
// App Styles
//*****************

.navbar {
  margin-bottom: 0;

  .login-link-and-dropdown-list {
    margin-top: 10px;
  }
}

.notifications {
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.app {
  height: 100%;
  position: relative;
  width: 100%;

  .lists {
    background-color: $white;
    bottom: 0;
    font-size: 2.4em;
    left: 0;
    overflow: hidden;
    padding: 0 0 20px;
    position: absolute;
    top: 0;

    .list-wrapper {
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    .list-group {
      margin-bottom: 100px;
    }

    .list-group-item {
      border: 0;
      border-radius: 0;
    }

    i {
      margin: 0 10px 0 0;
    }

    .add-list-modal {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;

      a {
        display: block;
      }
    }
  }

  .navbar-form {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-form,
  .form-group,
  .form-control {
    width: 100%;
  }

  .items {
    background-color: $gray;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .items-wrapper {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 97%;
  }

  .item {
    background-color: $white;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 10px 0;

    p {
      margin-bottom: 5px;
    }
  }

  .item-detail-wrapper .item {
    border-bottom: 1px solid $gray;
    border-radius: 0;
    margin-bottom: 0;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-bottom: 10px;
    }
  }
}
