<template name="appView">
  <div class="row app">
    <aside class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Fleisch</li>
        <li class="list-group-item">Gemüse</li>
        <li class="list-group-item">Käse</li>
        <li class="list-group-item">Früchte</li>
      </ul>
    </aside>
    <section class="col-md-8">
      <p>Mozzarella</p>
      <p>Hackfleisch</p>
      <p>Limetten</p>
      <p>Schinkenwürfeli</p>
      <p>Poulet Geschnetzeltes</p>
    </section>
  </div>
</template>
