<template name="itemsView">
  {{#unless isGenericList}}
    <form class="new-item-form navbar-form" role="">
      <div class="form-group">
        <input type="text" name="text" class="form-control" placeholder="Add new item">
      </div>
    </form>
  {{/unless}}
  {{#each items}}
    <div class="item col-md-12" id="{{_id}}">
      <input class="item-checkbox" type="checkbox" checked="{{#if completed}}checked{{/if}}">
      <span class="item-title">{{title}}</span>
      {{!-- <label class="label label-danger pull-right">08.03.2015</label>
      <label class="label label-primary pull-right">3</label> --}}
    </div>
    {{else}}
      <p>There are no items in this list. {{#unless isGenericList}}Add new items in the textfield above.{{/unless}}</p>
  {{/each}}
</template>
