<template name="itemsView">
  <div class="items-wrapper">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Add new item">
      </div>
    </form>
    <div class="item-wrapper">
      <div class="item col-md-12">
        <p>
          <span>Schinken</span>
          <label class="label label-danger pull-right">08.03.2015</label>
          <label class="label label-primary pull-right">3</label>
        </p>
      </div>
      <div class="item-detail-wrapper">
        <div class="item col-md-12">
          <p>
            <span>Mozzarella Kugel</span>
            <label class="label label-danger pull-right">15.04.2015</label>
            <label class="label label-primary pull-right">1</label>
          </p>
        </div>
        <div class="item col-md-12">
          <p>
            <span>Mozzarella Block</span>
            <label class="label label-danger pull-right">08.03.2015</label>
            <label class="label label-primary pull-right">2</label>
          </p>
        </div>
      </div>
    </div>
    <div class="item-wrapper">
      <div class="item col-md-12">
        <p>
          <span>Chips</span>
          <label class="label label-danger pull-right">08.03.2015</label>
          <label class="label label-primary pull-right">3</label>
        </p>
      </div>

      <!-- If first item add collapse to the following items -->
      <div class="item col-md-12" data-toggle="collapse" data-target="#collapseItem" aria-expanded="false" aria-controls="collapseItem">
        <p>
          <span>Hackfleisch</span>
          <label class="label label-danger pull-right">15.04.2015</label>
          <label class="label label-primary pull-right">2</label>
        </p>
      </div>
      <div class="item-detail-wrapper collapse" id="collapseItem">
        <div class="item col-md-12">
          <p>
            <span>Hackfleisch 500g</span>
            <label class="label label-danger pull-right">15.04.2015</label>
            <label class="label label-primary pull-right">1</label>
          </p>
        </div>
        <div class="item col-md-12">
          <p>
            <span>Hackfleisch 300g</span>
            <label class="label label-danger pull-right">15.04.2015</label>
            <label class="label label-primary pull-right">1</label>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
