<template name="itemsView">
  {{#unless isGenericList}}
    {{ > addItemView }}
  {{/unless}}
  {{#each items}}
      {{> item }}
    {{else}}
      <p>There are no items in this list. {{#unless isGenericList}}Add new items in the textfield above.{{/unless}}</p>
  {{/each}}
  {{#unless isGenericList}}
    {{#if completedItems.count}}
      <p class="items-completed">{{ completedItems.count }} used items</p>
      {{#if showCompletedItems }}
      <div class="items-completed-list">
        {{#each completedItems}}
         {{> item }}
        {{/each}}
      </div>
      {{/if}}
    {{/if}}
  {{/unless}}

  {{> editItemView}}

</template>
