<template name="listsView">
  <ul class="list-group">
    {{> loginButtons}}
    <li><a class="list-group-item {{#if isCurrentList 'all' }}active{{/if}}" href="/all"><i class="infinity text-info">∞</i> All</a></li>
    <li><a class="list-group-item {{#if isCurrentList 'over-due' }}active{{/if}}" href="/over-due"><i class="fa fa-exclamation-triangle text-danger"></i>Over Due</a></li>

    {{#each lists}}
      <li class="list-item {{#if isCurrentList _id }}active{{/if}}">
        <a class="list-group-item {{#if isCurrentList _id }}active{{/if}}" href="/lists/{{_id}}"><i class="fa fa-list-ul"></i>{{title}}</a>
        {{#if isCurrentList _id }}<a href="#" class="list-edit" data-toggle="modal" data-target="#edit-list-modal-dialog" data-list-id="{{_id}}"><i class="fa fa-pencil"></i></a>{{/if}}
        </li>
      {{else}}
      <p>There are no lists yet. Add one below with the plus button.</p>
    {{/each}}
  </ul>
  <button class="add-list-button btn btn-default" type="button">
    <a href="#" data-toggle="modal" data-target="#add-list-modal-dialog">+</a>
  </button>
</template>
