<template name="listsView">
  <ul class="list-group">
    {{> loginButtons}}
    <li class="list-item {{#if isCurrentList 'all' }}active{{/if}}">
      <a class="list-group-item" href="/all"><i class="infinity text-info">∞</i> All</a>
    </li>
    <li class="list-item {{#if isCurrentList 'over-due' }}active{{/if}}">
      <a class="list-group-item" href="/over-due"><i class="fa fa-exclamation-triangle text-danger"></i>Over Due</a>
      </li>

    {{#each lists}}
      <li class="list-item {{#if isCurrentList _id }}active{{/if}}">
        <a class="list-group-item" href="/lists/{{_id}}">
          {{#if hasMultipleUsers _id }}
            <i class="fa fa-users"></i>
          {{else}}
            <i class="fa fa-list-ul"></i>
          {{/if}}

          {{title}}
        </a>
        {{#if isCurrentList _id }}
          <a href="#" class="list-edit pull-right" data-toggle="modal" data-target="#edit-list-modal-dialog" data-list-id="{{_id}}">
            <i class="fa fa-pencil"></i>
          </a>
        {{/if}}
        {{#if listItemsCount _id }}
        <span class="list-item-count label label-default pull-right">{{listItemsCount _id}}</span>
        {{/if}}
        </li>
      {{else}}
      <p>There are no lists yet. Add one below with the plus button.</p>
    {{/each}}
  </ul>
</template>
