<template name="about">
  <div class="modal fade" id="about-modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">About</h4>
        </div>
        <div class="modal-body">
          <p><strong>Mozzarella</strong> 🍕 is a collaborative shopping-/what’s in your fridge list app built by <a href="http://mariuskueng.com">Marius Küng</a>.</p>
          <p> Mozzarella aims to help the user keep track of what groceries he has in his fridge, which of these he should consume and what he needs to buy soon. Because of shared lists it’s able to keep track of an entire household.</p>
          <hr>
          <p>This project is built with <a href="https://www.meteor.com/">Meteor</a>. Meteor is a complete open source platform for building web and mobile apps in pure JavaScript.</p>
          <hr>
          <p>You can fork the project on <a href="https://github.com/mariuskueng/mozzarella">Github</a>.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
