<template name="addListView">
  <div class="modal fade" id="add-list-modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add new list</h4>
        </div>
        <form class="add-list" role="">
        <div class="modal-body">

            <div class="form-group">
              <input type="text" name="text" class="form-control" placeholder="List name">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add list" data-toggle="modal" data-target="#add-list-modal-dialog">
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
