<template name="addItemView">
  <form class="new-item-form navbar-form" role="">
    <div class="form-group">
      <input type="text" name="text" class="form-control item-text typeahead" placeholder="Add new item to this list..."
      autocomplete="off" spellcheck="off" data-source="food" data-hint="false">
      <select class="form-control item-amount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      <a href="#" id="item-datepicker" class="item-datepicker"><i class="fa fa-calendar text-muted {{#if isItemDueDateChanged}}text-warning{{/if}}"></i></a>
    </div>
  </form>
</template>
