<template name="editListView">
  <div class="modal fade" id="edit-list-modal-dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit list</h4>
        </div>
        <form class="edit-list" role="">

        <div class="modal-body">
          <h3 class="modal-title">List title</h3>
          <div class="form-group">
            <input type="text" name="text" class="form-control" value="{{title}}">
          </div>

        </div>

        <div class="modal-body">
          <h3 class="modal-title"><i class="fa fa-user-plus"></i> List members</h3>
          <div class="input-group">
            <input type="text" name="email" class="form-control list-user-add-email" placeholder="Email address" value="sepp.blatter@fifa.com">
            <span class="input-group-btn">
              <button class="btn btn-default fa fa-user-plus btn-list-user-add" type="button"></button>
            </span>
          </div><!-- /input-group -->
          <ul>
            <li>Marius Küng</li>
            <li>Sepp Blatter</li>
            <li>Livio Bieri</li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left list-delete" data-dismiss="modal">Delete list</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Done" data-toggle="modal" data-target="#edit-list-modal-dialog">
        </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
