<template name="editItemView">
<section id="editItem" class="edit-item navmenu navmenu-default navmenu-fixed-right offcanvas">
  {{#with item}}

  <form id="item-edit">
    <div class="item-header">
      <input class="item-checkbox" type="checkbox">
      <span class="item-title">{{item.title}}</span>
      <input name="itemTitleEdit" class="form-control item-title-edit hidden" value="{{item.title}}">
      <div class="item-info">
        <label class="item-duedate item-datepicker label label-danger">{{getDueDate}}</label>
        <p><i class="fa fa-user"></i> {{getCreator}}</p>
      </div>
    </div>
    <input type="submit" class="btn btn-primary item-edit-save" value="Save changes">
  </form>

  {{> pieces}}

  {{/with}}
</section>
</template>
