<template name="editItemView">
<section id="editItem" class="edit-item navmenu navmenu-default navmenu-fixed-right offcanvas">
  {{#with item}}
  <form id="item-edit">
    <div class="item-header">
      <input class="item-checkbox" type="checkbox">
      <span class="item-title {{#if completed}}completed{{/if}}">{{item.title}}</span>
      <input name="itemTitleEdit" class="form-control item-title-edit hidden" value="{{item.title}}">
      <div class="item-info">
        <label class="item-duedate item-datepicker label label-danger">{{getDueDate}}</label>
        <p><i class="fa fa-user"></i> {{getCreator}}</p>
      </div>
    </div>
    <div class="item-pieces">
      <h4>3 pieces</h4>
      <div class="piece">
        <input class="item-checkbox" type="checkbox">
        <span class="item-title {{#if completed}}completed{{/if}}">500g</span>
        <label class="item-duedate label label-danger pull-right">12.12.14</label>
      </div>
      <div class="piece">
        <input class="item-checkbox" type="checkbox">
        <span class="item-title {{#if completed}}completed{{/if}}">200g</span>
        <label class="item-duedate label label-warning pull-right">01.05.15</label>
      </div>
      <div class="piece">
        <input class="item-checkbox" type="checkbox">
        <span class="item-title {{#if completed}}completed{{/if}}">1000g</span>
        <label class="item-duedate label label-success pull-right">12.12.15</label>
      </div>
    </div>
    <input type="text" name="text" class="form-control item-text" placeholder="Add new piece to this item...">
    <a href="#" id="item-datepicker" class="item-datepicker"><i class="fa fa-calendar text-muted {{#if isItemDueDateChanged}}text-warning{{/if}}"></i></a>

    <input type="submit" class="btn btn-primary item-edit-save" value="Save changes">

  </form>
  {{/with}}
</section>
</template>
